/* You can add global styles to this file, and also import other style files */

body {
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;

  /* background-color: #9f9da7; */
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  /* color: #2b3e51; */
}
